---
// src/components/BackgroundLogo.astro
---

<div class="absolute inset-0 z-0 overflow-hidden pointer-events-none">
  <div class="flex justify-center items-start h-full">
    <img src="/img/logo-dog.svg" alt="logo" class="max-w-none w-[500px] sm:w-[600px] md:w-[700px] lg:w-[800px] opacity-5 translate-y-[40%] md:translate-y-[45%] lg:translate-y-[50%]" />
  </div>
</div>