---
// src/components/HeroColumn.astro
---

<div class="flex items-center justify-center p-10 w-full lg:w-5/10 xl:w-7/10 2xl:w-3/5">
  <!-- prettier-ignore -->
  <h1 class="text-[min(18vw,13rem)] font-black leading-[1.05] text-black font-russo text-center w-full flex flex-wrap justify-center">
    <span class="flex whitespace-nowrap">
      <span>r</span>
      <span class="md:ml-[-0.1rem]">o</span>
      <span class="md:ml-[-0.5rem]">b</span>
      <span class="md:ml-[-0.3rem]">o</span>
      <span class="md:ml-[-0.2rem]">-</span>
    </span>
    <span class="flex whitespace-nowrap">
      <span>k</span>
      <span class="md:ml-[-0.5rem]">o</span>
      <span class="md:ml-[-0.5rem]">r</span>
      <span class="md:ml-[-0.2rem]">g</span>
      <span class="md:ml-[-0.2rem]">i</span>
    </span>
  </h1>
</div>
